{% extends "_base.html" %}

{% block title %}CPS - Dashboard{% endblock %}



{% block content %}

{% load static %}

<style>
  .floating-card {
    float: left;
    margin: 5px;
    max-width: 200px;
  }
</style>

<div class="">
{% for genset in gensets %}
<div class="card floating-card" style="width: 150px;">
  <div class="card-header"><h5 class="card-title">{{ genset }}</h5></div>
  {% if genset.running %}
    <img class="card-img-top" src="{% static 'images/genset/running.png' %}" alt="{{ genset }} Running">
  {% else %}
    <img class="card-img-top" src="{% static 'images/genset/stopped.png' %}" alt="{{ genset }} Stopped">
  {% endif %}
  <div class="card-body text-center">
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle" type="button" id="btnDEG{{ genset.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if genset.running %}
          Running
        {% else %}
          Stopped
        {% endif %}
      </button>
      <!-- Genset actions drop down -->
      <div class="dropdown-menu" aria-labelledby="btnDEG{{ genset.id }}">
        {% if genset.running %}
          <a href="" class="dropdown-item">Stop Genset</a>
        {% else %}
          <a href="" class="dropdown-item">Start Genset</a>
        {% endif %}
        <a href="" class="dropdown-item">Day tank data</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}