{% extends "_base.html" %}

{% block title %}CPS - Storage Tank {{ no }}{% endblock %}



{% block content %}

<h3>Storage Tank {{ no }}</h3>

<hr>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Shift</th>
            <th scope="col">Details</th>
            <th scope="col">Sounding</th>
            <th scope="col">Liters</th>
            <th scope="col">Difference</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.record_date }}</td>
                <td>{{ record.shift }}</td>
                <td>{{ record.details }}</td>
                <td>{{ record.sounding }}</td>
                <td>{{ record.liters }}</td>
                <td>{{ record.diff }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}